#wrap{
    background-color: cadetblue;
    align-items: center;
}
#outside{
    background-color: cadetblue;
    /* text-align: center; */
     
}

#form{
    background-color: cadetblue;
    
}

h3{
   /* text-align: center; */
}

